---
layout: layouts/base.njk
permalink: 404.html
templateClass: error-page
hide_footer: true
name: 404
eleventyExcludeFromCollections: true
---

<midwest-starscape style="height: calc(var(--sectionHeight) * 1px + 40rem);"></midwest-starscape>
<midwest-scroll-z-root>
    <midwest-scroll-z-section></midwest-scroll-z-section>
    <midwest-scroll-z-section>
        <midwest-layout>
            <midwest-card class="theme-red shadow-lg" style="--background: var(--theme-6);--border: var(--theme-8);" padding="large">
                <copy-wrap class="p-8 w-full" align="center">
                    <h1 class="text-theme-0" style="font-size: 6rem;">404</h1>
                </copy-wrap>
            </midwest-card>
        </midwest-layout>
    </midwest-scroll-z-section>
    <midwest-scroll-z-section>
        <midwest-layout>
            <midwest-card class="theme-orange shadow-lg" style="--background: var(--theme-6);--border: var(--theme-8);" padding="large">
                <copy-wrap class="p-8 w-full" align="center">
                    <h1 class="text-theme-0" style="font-size: 6rem;">That means we couldn't find anything...</h1>
                </copy-wrap>
            </midwest-card>
        </midwest-layout>
    </midwest-scroll-z-section>
    <midwest-scroll-z-section>
        <midwest-layout>
            <midwest-card class="theme-yellow shadow-lg" style="--background: var(--theme-6);--border: var(--theme-8);" padding="large">
                <copy-wrap class="p-8 w-full" align="center">
                    <h1 class="text-theme-0" style="font-size: 6rem;">uh oh...</h1>
                </copy-wrap>
            </midwest-card>
        </midwest-layout>
    </midwest-scroll-z-section>
    <midwest-scroll-z-section>
        <midwest-layout>
            <midwest-card class="theme-lime shadow-lg" style="--background: var(--theme-6);--border: var(--theme-8);" padding="large">
                <copy-wrap class="p-8 w-full" align="center">
                    <h1 class="text-theme-0" style="font-size: 6rem;">That can't be good...</h1>
                </copy-wrap>
            </midwest-card>
        </midwest-layout>
    </midwest-scroll-z-section>
    <midwest-scroll-z-section>
        <midwest-layout>
            <midwest-card class="theme-green shadow-lg" style="--background: var(--theme-6);--border: var(--theme-8);" padding="large">
                <copy-wrap class="p-8 w-full" align="center">
                    <h1 class="text-theme-0" style="font-size: 6rem;">That can't be good...</h1>
                </copy-wrap>
            </midwest-card>
        </midwest-layout>
    </midwest-scroll-z-section>
    <midwest-scroll-z-section>
        <midwest-layout>
            <midwest-card class="theme-cyan shadow-lg" style="--background: var(--theme-6);--border: var(--theme-8);" padding="large">
                <copy-wrap class="p-8 w-full" align="center">
                    <h1 class="text-theme-0" style="font-size: 6rem;">That can't be good...</h1>
                </copy-wrap>
            </midwest-card>
        </midwest-layout>
    </midwest-scroll-z-section>
    <midwest-scroll-z-section>
        <midwest-layout>
            <midwest-card class="theme-blue shadow-lg" style="--background: var(--theme-6);--border: var(--theme-8);" padding="large">
                <copy-wrap class="p-8 w-full" align="center">
                    <h1 class="text-theme-0" style="font-size: 6rem;">That can't be good...</h1>
                </copy-wrap>
            </midwest-card>
        </midwest-layout>
    </midwest-scroll-z-section>
    <midwest-scroll-z-section>
        <midwest-layout>
            <midwest-card class="theme-indigo shadow-lg" style="--background: var(--theme-6);--border: var(--theme-8);" padding="large">
                <copy-wrap class="p-8 w-full" align="center">
                    <h1 class="text-theme-0" style="font-size: 6rem;">That can't be good...</h1>
                </copy-wrap>
            </midwest-card>
        </midwest-layout>
    </midwest-scroll-z-section>
    <midwest-scroll-z-section>
        <midwest-layout>
            <midwest-card class="theme-violet shadow-lg" style="--background: var(--theme-6);--border: var(--theme-8);" padding="large">
                <copy-wrap class="p-8 w-full" align="center">
                    <h1 class="text-theme-0" style="font-size: 6rem;">That can't be good...</h1>
                </copy-wrap>
            </midwest-card>
        </midwest-layout>
    </midwest-scroll-z-section>
</midwest-scroll-z-root>
<midwest-layout>
    <midwest-section class="mb-50">
        <midwest-layout>
            <midwest-card class="theme-gray shadow-lg" style="--background: var(--theme-6);--border: var(--theme-8);" padding="large">
                <copy-wrap align="center">
                    <h1 class="text-theme-0" style="font-size: 3rem;">Maybe you should go back?</h1>
                    <midwest-button tag="link" href="/">Home</midwest-button>
                </copy-wrap>
            </midwest-card>
        </midwest-layout>
    </midwest-section>
</midwest-layout>
</midwest-theme>