extends partials/layout.pug

block vars
	- var theme = "orange";
	- var complement = "blue";
	- var tab = "about";
	- var title = "About Will";
	- var description = "Yeah yes please you can call me Will ok";
	- var keywords = "";

block hero
	copy-wrap(align="left")
		h1.fs-massive.theme-base5.fw8.lh-solid About Will

block content
	stellar-layout
		copy-wrap
			h1.fs-massive.theme-complement5.fw7 Hello hi!
			h3 I'm a developer and designer, specializing in Design Systems, React, and Pokémon Go. I love having fun with code, particularly audio or any project that lets me work with a sensor. I tend to talk about design systems or audio. But this page isn't about that! This page is about ME.

			h3 I grew up playing

			stellar-card
				header
					h4 Here's some questions people asked me

				section
					stellar-accordion
						stellar-item(slot="label") What do you
						p Yeah turns out!
