---
layout: layouts/home.njk
title: About
name: Gabriella Nova
templateClass: about-page
show_hero: home
hero_image_name: will
preload_elements: [midwest-starscape, midwest-theme, midwest-tag, midwest-image, copy-wrap, midwest-card, midwest-tab, midwest-tabs, animate-presence, midwest-grid, midwest-layout, midwest-time]
eleventyNavigation:
  key: About
  order: 1
---

{%- from "./_includes/macros/image.njk" import image -%}

<midwest-theme base="pink" complement="lime" inert="inert" system></midwest-theme>
<midwest-layout type="five-column" align="top" size="large" class="fancy-grid" small-size="768">
    <copy-wrap class="grid-center sm:grid-center md:grid-center">
        <h1>About</h1>

        <p class="mt-4">I’m Gabriella Nova (f.k.a. Parsons) (she/they). I’m an Austin, Texas-based producer, filmmaker and visual journalist drawn to themes of place, community, social justice and belonging. My work spans from directing a documentary about housing insecurity to years of experience producing for live events and festivals. Formerly, I worked as an Emerging Media Producer for Nebraska Public Media, Nebraska’s PBS & NPR station. With any project, I love working with teams to produce stories from concept to completion. </p>
    </copy-wrap>

    <copy-wrap class="grid-center md:row-start-2 md:col-start-2 md:col-end-4">
        <p class="mt-4">I’m a born-and-raised Midwest 90s kid. In 2018, I earned my Bachelor of Journalism from the University of Nebraska-Lincoln. During my time there, I concentrated on Spanish and women and gender studies. I became an award-winning fellow of the Global Eyewitness photojournalism program, which allowed me to travel to Uganda and Puerto Rico for student reporting projects. I worked for the Asian Community & Cultural Center as the program coordinator for Untold Migrant Stories, which empowers migrant youth to tell their stories through digital media. I currently produce video for SXSW and work on film projects in the Austin area.</p>
    </copy-wrap>

    {{ image("three", "about", "1600", "900", "grid-center sm:grid-center md:row-start-2 md:col-start-4 md:col-end-6 w-full h-auto") }}


    <copy-wrap class="grid-center sm:grid-center md:grid-center">
        <p class="mt-4">Let’s work together! Reach out for collaborations or assignments at work@gabriellanova.com. I’m fully vaccinated against COVID-19 and I’m available to travel or produce remotely. </p>
    </copy-wrap>
</midwest-layout>
