---
layout: layouts/home.njk
name: Portfolio
permalink: /portfolio/
show_hero: true
hero_header: Portfolio
hero_content: Archive
hero_image_name: cardboard
eleventyNavigation:
  key: Portfolio
  order: 2
---


<midwest-theme base="orange" complement="violet" inert="inert" system></midwest-theme>

<midwest-layout type="five-column" align="top" size="full">
    <section>
        <copy-wrap>
            <h1>Portfolio</h1>
        </copy-wrap>
    </section>
</midwest-layout>

<midwest-layout type="five-column" align="stretch" size="full" class="fill">
  {% set postslist = collections.portfolios %}
  {% include "postslist.njk" %}
</midwest-layout>