---
layout: layouts/home.njk
name: Portfolio
permalink: /portfolio/
show_hero: true
hero_header: Portfolio
hero_content: Archive
hero_image_name: cardboard
eleventyNavigation:
  key: Portfolio
  order: 2
---


<midwest-theme base="orange" complement="violet" inert="inert" system></midwest-theme>
<midwest-layout class="bg-gradient-to-r from-theme-3 to-complement-6 dm:from-theme-6 dm:to-complement-11 ">
  <midwest-grid>
    {% set postslist = collections.posts %}
    {% include "postslist.njk" %}
  </midwest-grid>
</midwest-layout>