---
layout: layouts/base.njk
name: Hire Me
description: I would love to work with you - let's collaborate!
permalink: /hire-me/
show_hero: true
hero_header: Hire Me
hero_content: Let's collaborate!
eleventyNavigation:
  key: Hire Me
  order: 4
---

<midwest-theme base="indigo" complement="cyan" inert="inert" system></midwest-theme>
<midwest-layout type="five-column" class="fancy-grid" align="top" size="large" small-size="768">
    <copy-wrap class="mb-8 grid-center md:grid-center lg:col-start-3 lg:col-end-6">
        <h1>Hire Me</h1>
        <p>Gabriella Parsons (she/they) is a Midwest-born-and-raised 90s kid, visual storyteller and freelance documentary filmmaker living in Austin, Texas, with her Husband and their two adorable Shiba Inus. Here are some ways you can hire her. </p>
        <p>Email: </p>
        <p>work@gabriellanova.com</p>
        <p>Instagram: </p>
        <p>https://instagram.com/GabriellaPhotoVideo</p>
        <p>For any productions requiring it, I am up-to-date on my COVID vaccines as of Oct. 2022.</p>
    </copy-wrap>

    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc9PLcQh9zXAvbc3gQxf6wCdhc_MjK12drJhvFmO0J1gB8ijA/viewform?embedded=true" width="100%" height="1000" frameborder="0" marginheight="0" marginwidth="0" class="w-full  grid-center md:grid-center lg:col-start-1 lg:col-end-3 lg:order-first">Loading…</iframe>
</midwest-layout>