extends partials/layout.pug

block vars
	- var theme = "indigo";
	- var complement = "fuchsia";
	- var tab = "hire-me";
	- var name = "Split Infinities";
	- var title = "I would love to work with you - let's collaborate!";
	- var description = "Split Infinities is the site for William M. Riley";
	- var keywords = "";
	- var show_hero = false;

block content
	stellar-layout.pv5.bg-theme-base9.relative
		stellar-starscape.z-1
		copy-wrap.z-2.relative(align="center")
			h1.fs-massive.fw8.white.lh-solid Let's work together.

	stellar-layout.tl(type="sidebar" align="top" size="large")
		aside
			copy-wrap
				h4.lh-title You&rsquo;ll typically hear from me in one to two business days!
				p.lh-copy.mb4
					| I&rsquo;m currently available for the months of
					stellar-tag.mh1(color="theme-complement5") August
					|,
					stellar-tag.mh1(color="theme-complement6") September
					|, and
					stellar-tag.mh1(color="theme-complement7") October
					|.

		section
			stellar-card
				header
					p.fs6.nowrap.mr4 I want you to...
					stellar-tabs(height="auto" size="small" style="border:none" name="contact-tabs")
						stellar-tab(href="#project" open) Make something awesome for me
						stellar-tab(href="#speaker") Speak at my conference
						stellar-tab(href="#question") Answer a question

				section
					stellar-content(for="contact-tabs" name="project" open)
						stellar-form.mb0(action="https://data.splitinfinities.com/project" method="post")
							stellar-grid(cols="1" style="--grid-width:100%")

								stellar-input(required name="project[name]" placeholder="Shoulder Socks" label="My Project is called")

								stellar-select(required name="project[budget]" overlay value="$10,000 - $15,000" label="I've got a budget of...")
									stellar-item(selectable value="less than $10,000") Less than $10,000
									stellar-item(selectable value="$10,000 - $15,000") $10,000 - $15,000
									stellar-item(selectable value="$15,000 - $25,000") $15,000 - $25,000
									stellar-item(selectable value="+$25,000") +$25,000

								stellar-input(required name="project[body]" type="textarea" placeholder="Tell me a little bit or a lotta bit about your project. What problem do you need solved? What is your timeline? Is this a tight turnaround? How many people will need to review? And whatever else you can think of!" label="What problem are you trying to solve?")

								stellar-grid.mv4(cols="2" style="--grid-width: 300px")
									stellar-input.ma0(required name="project[client_name]" placeholder="First & Last Name" label="First & Last Name")
									stellar-input.ma0(required name="project[phone]" type="phone" placeholder="Phone Number" label="Phone Number")
									stellar-input.ma0(required name="project[email]" type="email" placeholder="Email Address" label="Email Address")
									stellar-input.ma0(name="project[company]" placeholder="ReallyCoolOrg" label="Company/Organization")

								stellar-button(block size="large" tag="submit") Send!
					stellar-content(for="contact-tabs" name="speaker")
						stellar-form.mb0(action="https://data.splitinfinities.com/conference" method="post")
							stellar-grid(cols="1" style="--grid-width:100%")
								stellar-input(required name="conference[name]" placeholder="ReallyCoolConf" label="My Conference is called")

								stellar-input.ma0(required name="conference[body]" type="textarea" placeholder="Is about having a great time and making new friends." label="Tell me what the conference is all about...")

								stellar-grid.mv4(cols="2" style="--grid-width: 300px")
									stellar-input.ma0(required name="conference[client_name]" placeholder="First & Last Name" label="First & Last Name")
									stellar-input.ma0(required name="conference[phone]" type="phone" placeholder="Phone Number" label="Phone Number")
									stellar-input.ma0(required name="conference[email]" type="email" placeholder="Email Address" label="Email Address")
									stellar-input.ma0(name="conference[company]" placeholder="ReallyCoolOrg" label="Company/Organization")

								stellar-button(block size="large" tag="submit") Send!
					stellar-content(for="contact-tabs" name="question")
						stellar-form.mb0(action="https://data.splitinfinities.com/contact" method="post")
							stellar-input(required name="contact[body]" type="textarea" placeholder="Why is the ocean blue? How does dropping a rare earth magnet on a copper plate react? What's your favorite color?" label="Ask away!")

							stellar-grid.mv4(cols="2" style="--grid-width: 300px")
								stellar-input.ma0(required name="contact[client_name]" placeholder="First & Last Name" label="First & Last Name")
								stellar-input.ma0(required name="contact[phone]" type="phone" placeholder="Phone Number" label="Phone Number")
								stellar-input.ma0(required name="contact[email]" type="email" placeholder="Email Address" label="Email Address")
								stellar-input.ma0(name="contact[company]" placeholder="ReallyCoolOrg" label="Company/Organization")

							stellar-button(block size="large" tag="submit") Send!
