---
layout: layouts/base.njk
title: Hire Me
name: Gabriella Nova
templateClass: hire-me-page
description: I would love to work with you - let's collaborate!
permalink: /hire-me/
show_hero: true
hero_header: Hire Me
hero_content: Let's collaborate!
eleventyNavigation:
  key: Hire Me
  order: 4
---

<midwest-theme base="indigo" complement="cyan" inert="inert" system></midwest-theme>
<midwest-layout type="five-column" class="fancy-grid" align="top" size="large" small-size="768">
    <copy-wrap class="mb-8 grid-center md:grid-center lg:col-start-3 lg:col-end-6">
        <div>
          <h1 class="mb-0">Hire Me</h1>
          <midwest-button type="link" href="/resume.pdf" size="small" padding="small" icon="true" class="theme-gray">
            <ion-icon name="document" slot="icon"></ion-icon>
            Resumé
          </midwest-button>
          <midwest-button type="link" href="https://www.linkedin.com/in/gabriellaparsons/" target="_blank" size="small" padding="small" icon="true" class="theme-blue">
            <ion-icon name="logo-linkedin" slot="icon"></ion-icon>
            Linkedin
          </midwest-button>
          <midwest-button type="link" href="https://instagram.com/GabriellaPhotoVideo" target="_blank" size="small" padding="small" icon="true" class="theme-violet">
            <ion-icon name="logo-instagram" slot="icon"></ion-icon>
            Instagram
          </midwest-button>
        </div>
        <p>I’m Gabriella Nova (f.k.a. Parsons) (she/they). I’m an Austin, Texas-based producer, filmmaker and visual journalist drawn to themes of place, community, social justice and belonging.</p>
        <p>Let’s work together! Fill out the form here, or reach out directly at <a href="mailto:work@gabriellanova.com" target="_blank">work@gabriellanova.com</a>.</p>
        <p>I’m fully vaccinated against COVID-19 and I’m available to travel or produce remotely.</p>
    </copy-wrap>

    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc9PLcQh9zXAvbc3gQxf6wCdhc_MjK12drJhvFmO0J1gB8ijA/viewform?embedded=true" width="100%" height="1000" frameborder="0" marginheight="0" marginwidth="0" class="w-full  grid-center md:grid-center lg:col-start-1 lg:col-end-3 lg:order-first">Loading…</iframe>
</midwest-layout>