---
layout: layouts/home.njk
title: Gabriella Nova
templateClass: home-page
show_hero: home
hero_image_name: will
preload_elements: [midwest-starscape, midwest-theme, midwest-tag, midwest-image, copy-wrap, midwest-card, midwest-tab, midwest-tabs, animate-presence, midwest-grid, midwest-layout, midwest-time]
---

<midwest-theme base="pink" complement="lime" inert="inert" system></midwest-theme>

<midwest-layout type="five-column" align="top" size="large" small-size="768">
    <copy-wrap>
        <midwest-slick-slides slides-per-view="1" loop class="flex">
            <midwest-slide>
                <h1 class="flex">Producer</h1>
            </midwest-slide>
            <midwest-slide>
                <h1 class="flex">Filmmaker</h1>
            </midwest-slide>
            <midwest-slide>
                <h1 class="flex">Photographer</h1>
            </midwest-slide>
        </midwest-slick-slides>

        <p class="mt-4">I’m Gabriella Nova (f.k.a. Parsons) (she/they). I’m an Austin, Texas-based producer, filmmaker and visual journalist drawn to themes of place, community, social justice and belonging. Reach out for collaborations or assignments at work@gabriellanova.com. </p>
    </copy-wrap>
</midwest-layout>

<midwest-layout type="five-column" align="stretch" size="large" class="fancy-grid" small-size="768">
    {% include "highlight.njk" %}
    {% include "latest.njk" %}
    {% include "hire-me.njk" %}
</midwest-layout>

<script>
    const slides = document.querySelector("midwest-slick-slides");
    const slideCount = slides.querySelectorAll("midwest-slide").length;
    let currentSlide = 1

    setInterval(() => {
        currentSlide = slideCount === currentSlide ? 1 : currentSlide + 1;
        slides.slideTo(currentSlide - 1, 300, true)
    }, 3000)
</script>