---
layout: layouts/home.njk
title: Gabriella Nova
name: Home
show_hero: home
hero_image_name: will
preload_elements: [midwest-starscape, midwest-theme, midwest-tag, midwest-image, copy-wrap, midwest-card, midwest-tab, midwest-tabs, animate-presence, midwest-grid, midwest-layout, midwest-time]
---

<midwest-theme base="pink" complement="lime" inert="inert" system></midwest-theme>

<midwest-layout type="five-column" align="top" size="full">
    <copy-wrap>
        <midwest-slick-slides slides-per-view="1" loop class="flex">
            <midwest-slide>
                <h1 class="flex">Producer</h1>
            </midwest-slide>
            <midwest-slide>
                <h1 class="flex">Filmmaker</h1>
            </midwest-slide>
            <midwest-slide>
                <h1 class="flex">Photographer</h1>
            </midwest-slide>
        </midwest-slick-slides>

        <p class="mt-4">Gabriella Parsons (she/they) is a Midwest-born-and-raised 90s kid, visual storyteller and freelance documentary filmmaker living in Austin, Texas, with her fiancé and their two adorable Shiba Inus.</p>
    </copy-wrap>
</midwest-layout>

<midwest-layout type="five-column" align="stretch" size="full">
    {% set grid_column = "1/3" %}
    {% include "highlight.njk" %}
    {% set grid_column = "3/5" %}
    {% include "latest.njk" %}
    {% set grid_column = "5/6" %}
    {% include "hire-me.njk" %}
</midwest-layout>

<script>
    const slides = document.querySelector("midwest-slick-slides");
    const slideCount = slides.querySelectorAll("midwest-slide").length;
    let currentSlide = 1

    setInterval(() => {
        currentSlide = slideCount === currentSlide ? 1 : currentSlide + 1;
        slides.slideTo(currentSlide - 1, 300, true)
    }, 3000)
</script>