extends partials/layout.pug

block vars
	- var theme = "teal";
	- var complement = "fuchsia";
	- var tab = "mentorship";
	- var name = "Split Infinities";
	- var title = "Want to help your team work together better? I can consult!";
	- var description = "Split Infinities is the site for William M. Riley";
	- var keywords = "";
