extends partials/layout.pug

block vars
	- var theme = "violet";
	- var tab = "open_source";
	- var name = "Split Infinities";
	- var title = "Here's some open source work";
	- var description = "Split Infinities is the site for William M. Riley";
	- var keywords = "";
