extends partials/layout.pug

block vars
	- var theme = "green";
	- var tab = "portfolio";
	- var name = "Split Infinities";
	- var title = "Portfolio";
	- var description = "Split Infinities is the site for William M. Riley";
	- var keywords = "";
