---
layout: layouts/base.njk
name: Resume
description: Gabriella Nova is a Freelance Producer. 
permalink: /resume/
hero_image_name: google

---

<midwest-theme base="teal" complement="blue" inert="inert" system></midwest-theme>
<midwest-layout class="overflow-hidden bg-theme-8 relative" size="full">
  <midwest-starscape class="z-0 cover"></midwest-starscape>

  <midwest-layout class="z-10">
    <section>
      <midwest-card class="bg-gradient-to-r from-complement-8 to-complement-10 dark:bg-theme-8 border-complement-9 overflow-hidden">
        <copy-wrap class="m-0" align="center">
          <midwest-long-shadow length="150" direction="top-right" shade="7" complement>
              <h1 class="font-black tracked text-5xl text-complement-0">William&nbsp;M.&nbsp;Riley</h1>
          </midwest-long-shadow>
          <h2 class="text-complement-0 tracked">Product&nbsp;Engineer</h2>
          <h4 class="text-complement-1">will@splitinfinities.com</h4>
          <h4 class="text-complement-2">splitinfinities.com</h4>
        </copy-wrap>
      </midwest-card>
    </section>
    <section>
      <midwest-card class="bg-gradient-to-r from-complement-6 to-complement-8 dark:bg-theme-8 border-complement-7 overflow-hidden">
        <copy-wrap class="m-0" align="center">
          <midwest-long-shadow length="150" direction="top-right" shade="8" complement>
            <h2 class="font-bold text-white leading">Professional Summary</h2>
          </midwest-long-shadow>
          <p class="text-theme-0 lh-copy">
          I am an experienced full-stack engineer focused on solving problems in simple ways with the right technologies. I believe that great product comes
          from applying your skills to create a harmony of efficient and powerful code. My personality makes it easy for me to work with a team or stay
          focused and driven on projects where I need to work&nbsp;alone.
          </p>
        </copy-wrap>
      </midwest-card>
    </section>
    <section><br /></section>
    <section>
      <copy-wrap class="z-10" align="center">
        <h2 class="font-bold text-white leading">Experience</h2>
      </copy-wrap>
    </section>

    <section>
      <midwest-comments class="mbi">
        <midwest-comment class="rounded-2xl">
          <midwest-avatar size="medium" shape="squircle" class="m-auto ml-0 mr-3 mt-0" no-tooltip slot="avatar" name="Split Infinities" src="/assets/img/split-infinities.gif"></midwest-avatar>
          <copy-wrap slot="content">
            <h6 class="text-theme-8 dm:text-theme-2">June. 2018 &ndash; Present</h6>
            <h4 class="text-theme-6 dm:text-theme-4 font-bold leading">Freelance Product Engineer at Split Infinities</h4>
            <ul>
              <li><p class="text-theme-12 dm:text-theme-0">Design-led freelancer working to make a design-led product consultancy agency.</p></li>
              <li><p class="text-theme-12 dm:text-theme-0">Responsibilities: Consulting with my clients to make great applications, websites, command line tools, strategic technical decisions, and
              much, much more.</p></li>
            </ul>
          </copy-wrap>

          <midwest-comment class="overflow-hidden">
            <midwest-avatar size="medium" shape="squircle" class="m-auto ml-0 mr-3 mt-0" no-tooltip slot="avatar" name="Stellar" src="/assets/img/stellar.jpg"></midwest-avatar>
            <div class="w-full flex items-top justify-between" slot="content">
              <copy-wrap class="w-full">
                <h4 class="text-theme-6 dm:text-theme-4 font-bold leading">Stellar</h4>
                <p class="flex flex-wrap" style="gap: 0.25rem;">
                  <midwest-tag color="theme" size="tiny">Web Components</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Ruby on Rails</midwest-tag>
                  <midwest-tag color="theme" size="tiny">WordPress</midwest-tag>
                  <midwest-tag color="theme" size="tiny">React</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Sketch</midwest-tag>
                </p>
                <ul class="w-full">
                  <li><p class="text-theme-12 dm:text-theme-0">An open-source tool to help developers and designers make stellar cross-platform applications, and websites.</p></li>
                  <li><p class="text-theme-12 dm:text-theme-0">Version 0 designed by William M. Riley (me), in progress, Version 1 is designed by Nicholas Burroughs.</p></li>
                  <li><p class="text-theme-12 dm:text-theme-0">Stellar is a Design System generator, using web components, available to use with React, Vue, Express, Electron, Cordova/Phonegap, Capacitor, WordPress, Ruby on Rails, Laravel, Grails, and anything else that uses HTML.</p></li>
                </ul>
              </copy-wrap>
            </div>
          </midwest-comment>

          <midwest-comment class="overflow-hidden">
            <midwest-avatar size="medium" shape="squircle" class="m-auto ml-0 mr-3 mt-0" no-tooltip slot="avatar" name="Conversocial" src="/assets/img/conversocial.png"></midwest-avatar>
            <div class="w-full flex items-top justify-between" slot="content">
              <copy-wrap class="w-full">
              <h4 class="text-theme-6 dm:text-theme-4 font-bold leading">Conversocial</h4>
              <p class="flex flex-wrap" style="gap: 0.25rem;">
                <midwest-tag color="theme" size="tiny">CSS</midwest-tag>
                <midwest-tag color="theme" size="tiny">HTML</midwest-tag>
                <midwest-tag color="theme" size="tiny">HubSpot</midwest-tag>
                <midwest-tag color="theme" size="tiny">Responsive</midwest-tag>
                <midwest-tag color="theme" size="tiny">React</midwest-tag>
              </p>
              <ul class="w-full">
                <li><p class="text-theme-12 dm:text-theme-0">Conversocial is a customer service product that helps companies manage their large and wide ranging amount of social media accounts in one place.</p></li>
                <li><p class="text-theme-12 dm:text-theme-0">Worked on the responsive design for the re-branded marketing site, providing user experience design, engineering, and project management to achieve marketing goals.</p></li>
                <li><p class="text-theme-12 dm:text-theme-0">Helped expand the feature set of their demo product, to help accommodate for the products updated features, and to help sales acquire new customers.</p></li>
              </ul>
              </copy-wrap>
            </div>
          </midwest-comment>
        </midwest-comment>

        <midwest-comment class="rounded-2xl">
          <midwest-avatar size="medium" shape="squircle" class="m-auto ml-0 mr-3 mt-0" no-tooltip slot="avatar" name="Flywheel" src="/assets/img/flywheel.png"></midwest-avatar>
          <copy-wrap slot="content">
            <h6 class="text-theme-8 dm:text-theme-2">Apr. 2016 &ndash; May. 2018</h6>
            <h4 class="text-theme-6 dm:text-theme-4 font-bold leading">Software Engineer - Flywheel</h4>
            <ul>
              <li><p class="text-theme-12 dm:text-theme-0">Design-led WordPress Hosting company based out of Omaha, Nebraska.</p></li>
              <li><p class="text-theme-12 dm:text-theme-0">Responsibilities: Mentorship, full-stack engineering, design implementation, performance and accessibility audits, unit/integration testing, quality assurance, user-testing, product research, customer support and monthly on-call and support escalation assignments, market research, ideation, project management, data engineering, data visualization and projection, much more.</p></li>
              <li><p class="text-theme-12 dm:text-theme-0">Accomplishments: Rewriting the application frontend and parts of the backend, Domain manager product, Database Manager redesign, Data Engineering, Design system project scoping, service and mentorship to my team that gave me lifelong friendships.</p></li>
            </ul>
          </copy-wrap>

          <midwest-comment class="overflow-hidden">
            <midwest-avatar size="medium" shape="squircle" class="m-auto ml-0 mr-3 mt-0" no-tooltip slot="avatar" name="Flywheel" src="/assets/img/flywheel.png"></midwest-avatar>
            
            <div class="w-full flex items-top justify-between" slot="content">
              <copy-wrap class="w-full">
                <h4 class="text-theme-6 dm:text-theme-4 font-bold leading">
                  Application
                </h4>
                <p class="flex flex-wrap" style="gap: 0.25rem;">
                  <midwest-tag color="theme" size="tiny">Ruby on Rails</midwest-tag>
                  <midwest-tag color="theme" size="tiny">JavaScript</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Vue</midwest-tag>
                  <midwest-tag color="theme" size="tiny">React</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Web Components</midwest-tag>
                  <midwest-tag color="theme" size="tiny">CSS</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Motion Design</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Technical Strategy</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Motion Design</midwest-tag>
                </p>
                <ul class="w-full">
                  <li><p class="mw6">Re-architected the Front-end application with modern JavaScript standards and modern CSS to match new brand, and build well designed product&nbsp;faster.</p></li>
                  <li><p class="mw6">Mobile and Progressive Web App work by reducing network requests and using standard browser features to make a high quality app-like feel to the entire Flywheel experience.</p></li>
                  <li><p class="mw6">Accessibility QA and testing to confirm all users can take advantage of Flywheel's product.</p></li>
                  <li><p class="mw6">Performance QA and testing to confirm all users can take advantage of Flywheel's product.</p></li>
                  <li><p class="mw6">Balanced quality with quantity output by using tools like Scrum, Slack, Github, and Jira to collaborate with my team and make great product, fast.</p></li>
                  <li><p class="mw6">Provided and received mentorship to my team in order to level up the quality of work we could consistently output.</p></li>
                  <li><p class="mw6">Made motion design for story-telling through illustrations on the sign up, and forgot password pages of Flywheel, as well as through the spinning wheel mark.</p></li>
                </ul>
              </copy-wrap>
              <div class="block w-1/2 -mb-24" style="min-width: 12rem">
                <midwest-device frame="iphone-8-plus-spacegray">
                  <midwest-video preload="auto" autoplay="autoplay" muted="muted" playsinline="playsinline" poster="/assets/video/flywheel.jpg" controls="false">
                    <source src="/assets/video/flywheel.webm" type="video/webm" />
                    <source src="/assets/video/flywheel.mp4" type="video/mp4" />
                  </midwest-video>
                </midwest-device>
              </div>
            </div>
          </midwest-comment>

          <midwest-comment class="overflow-hidden">
            <midwest-avatar size="medium" shape="squircle" class="m-auto ml-0 mr-3 mt-0" no-tooltip slot="avatar" name="Flywheel" src="/assets/img/flywheel.png"></midwest-avatar>
            <div class="w-full flex flex-wrap items-top flex-column justify-between" slot="content">
              <copy-wrap class="w-full">
                <h4 class="text-theme-6 dm:text-theme-4 font-bold leading">
                  Database Manager
                </h4>
                <p class="flex flex-wrap" style="gap: 0.25rem;">
                  <midwest-tag color="theme" size="tiny">PHP</midwest-tag>
                  <midwest-tag color="theme" size="tiny">JavaScript</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Polymer</midwest-tag>
                  <midwest-tag color="theme" size="tiny">CSS</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Motion Design</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Technical Strategy</midwest-tag>
                </p>
                <ul class="w-full">
                  <li><p class="mw6">Re-architected the application with modern JavaScript standards and modern CSS to match new brand, and build well designed product&nbsp;faster.</p></li>
                  <li><p class="mw6">Used Polymer (similar to React) to craft a high-quality experience making a database manager that interacts with Flywheel sites and services.</p></li>
                  <li><p class="mw6">Significant user-testing and product research via all-company support and monthly on-call responsibilities.</p></li>
                </ul>
              </copy-wrap>
              <div class="block w-3/4 ml-auto mr-auto -mb-24 mt-3 relative" style="min-width: 12rem">
                <midwest-device frame="ipad-pro-landscape">
                  <midwest-video preload="auto" controls="false" autoplay="autoplay" muted="muted" playsinline="playsinline" poster="/assets/video/flywheel-database-manager.jpg">
                    <source src="/assets/video/flywheel-database-manager.webm" type="video/webm" />
                    <source src="/assets/video/flywheel-database-manager.mp4" type="video/mp4" />
                  </midwest-video>
                </midwest-device>
              </div>
            </div>
          </midwest-comment>

          <midwest-comment class="overflow-hidden">
            <midwest-avatar size="medium" shape="squircle" class="m-auto ml-0 mr-3 mt-0" no-tooltip slot="avatar" name="Flywheel" src="/assets/img/flywheel.png"></midwest-avatar>
            <div class="w-full flex items-top justify-between" slot="content">
              <copy-wrap class="w-full">
                <h4 class="text-theme-6 dm:text-theme-4 font-bold leading">Data Engineering</h4>

                <p class="flex flex-wrap" style="gap: 0.25rem;">
                  <midwest-tag color="theme" size="tiny">Ruby on Rails</midwest-tag>
                  <midwest-tag color="theme" size="tiny">JavaScript</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Polymer</midwest-tag>
                  <midwest-tag color="theme" size="tiny">CSS</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Motion Design</midwest-tag>
                </p>
                
                <ul class="w-full">
                  <li><p class="mw6">Project managed the data sector of Flywheel through to success, created a roadmap for data at Flywheel and saw it through to the end.</p></li>
                  <li><p class="mw6">Onboarded a Data Visualization expert and collaborated with them to help get the chair level data questions accurately answered.</p></li>
                  <li><p class="mw6">Used Ruby on Rails to build a custom ETL for HubSpot and ChartMogul, a 4 month project.</p></li>
                </ul>
              </copy-wrap>
            </div>
          </midwest-comment>
        </midwest-comment>

        <midwest-comment class="rounded-2xl">
          <midwest-avatar size="medium" shape="squircle" class="m-auto ml-0 mr-3 mt-0" no-tooltip slot="avatar" name="Grain &amp; Mortar" src="/assets/img/grainandmortar.jpg"></midwest-avatar>
          <copy-wrap slot="content">
            <h6 class="text-theme-8 dm:text-theme-2">Aug. 2014 &ndash; Apr. 2016</h6>
            <h4 class="text-theme-6 dm:text-theme-4 font-bold leading">Lead Developer at Grain &amp; Mortar</h4>
            <ul>
              <li><p class="text-theme-12 dm:text-theme-0">Design company based out of Omaha, Nebraska.</p></li>
              <li><p class="text-theme-12 dm:text-theme-0">Responsibilities: Development, Developer Operations, Project Management, Quality Assurance, SEO, Social Discovery, Design, Motion. WordPress, MySQL, SASS, JavaScript, Git, Illustrator.</p></li>
              <li><p class="text-theme-12 dm:text-theme-0">Accomplishments: Built an internal theme to make development run smoother and to help us build well designed product&nbsp;faster, mentorship and service to my team.</p></li>
              <li><p class="text-theme-12 dm:text-theme-0">Launched 22 sites, notable projects follow:</p></li>
            </ul>
          </copy-wrap>

          <midwest-comment class="overflow-hidden">
            <midwest-avatar size="medium" shape="squircle" class="m-auto ml-0 mr-3 mt-0" no-tooltip slot="avatar" name="Google Cardboard" src="/assets/img/google.jpg"></midwest-avatar>

            <div class="w-full flex flex-wrap items-top flex-column justify-between" slot="content">
              <copy-wrap class="w-full">
                <h4 class="text-theme-6 dm:text-theme-4 font-bold leading">
                  Google Cardboard
                </h4>
                
                <p class="flex flex-wrap" style="gap: 0.25rem;">
                  <midwest-tag color="theme" size="tiny">PHP</midwest-tag>
                  <midwest-tag color="theme" size="tiny">JavaScript</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Angular</midwest-tag>
                  <midwest-tag color="theme" size="tiny">CSS</midwest-tag>
                </p>

                <ul class="w-full">
                  <li><p class="mw6">Google - Cardboard Manufacturer</p></li>
                  <li><p class="mw6">Responsibilities: Development, Developer Operations, Project Management, Quality Assurance, SEO, Social Discovery, Design, Motion.</p></li>
                  <li><p class="mw6">Accomplishments: High quality site that produces a QR code for makers of VR Headsets to place on the side of their product. The QR code helps software understand the details of how close the screen is to the customers eyes, so the VR headset can produce clear, quality display for the user.</p></li>
                </ul>
              </copy-wrap>

              <div class="block  w-3/4 ml-auto mr-auto -mb-24 mt-3 relative left--2" style="min-width: 12rem">
                <midwest-device frame="ipad-pro-landscape">
                  <midwest-video preload="auto" autoplay="autoplay" controls="false" muted="muted" playsinline="playsinline" poster="/assets/video/google-cardboard.jpg">
                    <source src="/assets/video/google-cardboard.webm" type="video/webm" />
                    <source src="/assets/video/google-cardboard.mp4" type="video/mp4" />
                  </midwest-video>
                </midwest-device>
              </div>
            </div>
          </midwest-comment>

          <midwest-comment class="overflow-hidden">
            <midwest-avatar size="medium" shape="squircle" class="m-auto ml-0 mr-3 mt-0" no-tooltip slot="avatar" name="Twitch" src="/assets/img/twitch.jpg"></midwest-avatar>

            <div class="w-full flex items-top justify-between" slot="content">
              <copy-wrap class="w-full">
                <h4 class="text-theme-6 dm:text-theme-4 font-bold leading">
                  Twitch Engineering
                </h4>

                <p class="flex flex-wrap" style="gap: 0.25rem;">
                  <midwest-tag color="theme" size="tiny">HTML</midwest-tag>
                  <midwest-tag color="theme" size="tiny">JavaScript</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Bash</midwest-tag>
                  <midwest-tag color="theme" size="tiny">CSS</midwest-tag>
                  <midwest-tag color="theme" size="tiny">SASS</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Git</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Illustrator</midwest-tag>
                  <midwest-tag color="theme" size="tiny">SVG animations</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Motion Design</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Technical Strategy</midwest-tag>
                </p>

                <ul class="w-full">
                  <li><p class="mw6">Twitch is a social streaming platform used by over 100 million users per month. Twitch came to Grain &amp; Mortar to make a landing page for their Engineering site, during a hiring surge.</p></li>
                  <li><p class="mw6">Responsibilities: Development, API Integration, Developer Operations, Project Management, Quality Assurance, SEO, Social Discovery, Design, Motion.</p></li>
                </ul>
              </copy-wrap>

              <div class="block w-50 -mb-24" style="min-width: 12rem">
                <midwest-device frame="iphone-8-plus-spacegray">
                  <midwest-video preload="auto" controls="false" autoplay="autoplay" muted="muted" playsinline="playsinline" poster="/assets/video/twitch.jpg">
                    <source src="/assets/video/twitch.webm" type="video/webm" />
                    <source src="/assets/video/twitch.mp4" type="video/mp4" />
                  </midwest-video>
                </midwest-device>
              </div>
            </div>
          </midwest-comment>

          <midwest-comment class="overflow-hidden">
            <midwest-avatar size="medium" shape="squircle" class="m-auto ml-0 mr-3 mt-0" no-tooltip slot="avatar" name="Flint" src="/assets/img/flint.jpg"></midwest-avatar>
            <div class="w-full flex flex-wrap items-top flex-column justify-between" slot="content">
              <copy-wrap class="w-full">
                <h4 class="text-theme-6 dm:text-theme-4 font-bold leading">
                  Flint
                </h4>

                <p class="flex flex-wrap" style="gap: 0.25rem;">
                  <midwest-tag color="theme" size="tiny">PHP</midwest-tag>
                  <midwest-tag color="theme" size="tiny">WordPress</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Advanced Custom Fields</midwest-tag>
                  <midwest-tag color="theme" size="tiny">MySQL</midwest-tag>
                  <midwest-tag color="theme" size="tiny">JavaScript</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Polymer</midwest-tag>
                  <midwest-tag color="theme" size="tiny">SASS</midwest-tag>
                  <midwest-tag color="theme" size="tiny">CSS</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Git</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Illustrator</midwest-tag>
                </p>

                <ul class="w-full">
                  <li><p class="mw6">Flint is a cross-platform payment product. We were tasked with making a usable, customizable WordPress theme with 30 pages responsive in a matter of 2 months.</p></li>
                  <li><p class="mw6">Responsibilities: Mentorship, Development, Developer Operations, Project Management, Quality Assurance, SEO, Social Discovery, Design, Motion, Project Management.</p></li>
                </ul>
              </copy-wrap>

              <div class="block w-3/4 ml-auto mr-auto -mb-4 mt-3 relative left--2" style="min-width: 12rem">
                <midwest-device frame="imac-pro">
                  <midwest-video preload="auto" controls="false" autoplay="autoplay" muted="muted" playsinline="playsinline" poster="/assets/video/flint-marketing-site.jpg">
                    <source src="/assets/video/flint-marketing-site.mp4" />
                  </midwest-video>
                </midwest-device>
              </div>
            </div>
          </midwest-comment>

          <midwest-comment class="overflow-hidden">
            <midwest-avatar size="medium" shape="squircle" class="m-auto ml-0 mr-3 mt-0" no-tooltip slot="avatar" name="Big Omaha" src="/assets/img/bigomaha.jpg"></midwest-avatar>
            <div class="w-full flex flex-wrap items-top flex-column justify-between" slot="content">
              <copy-wrap class="w-full">
                <h4 class="text-theme-6 dm:text-theme-4 font-bold leading">
                  Big Omaha
                </h4>

                <p class="flex flex-wrap" style="gap: 0.25rem;">
                  <midwest-tag color="theme" size="tiny">PHP</midwest-tag>
                  <midwest-tag color="theme" size="tiny">WordPress</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Advanced Custom Fields</midwest-tag>
                  <midwest-tag color="theme" size="tiny">MySQL</midwest-tag>
                  <midwest-tag color="theme" size="tiny">JavaScript</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Polymer</midwest-tag>
                  <midwest-tag color="theme" size="tiny">SASS</midwest-tag>
                  <midwest-tag color="theme" size="tiny">CSS</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Git</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Illustrator</midwest-tag>
                  <midwest-tag color="theme" size="tiny">SVG Animation</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Motion Design</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Mentorship</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Technical Strategy</midwest-tag>
                </p>

                <ul class="w-full">
                  <li><p class="mw6">Big Omaha is a tech conference that has been going on for 10 years. The team at Big Omaha came to Grain &amp; Mortar to design the conference for three years, I was involved in 2015 and 2016. These were some of my favorite projects to work on, and I'm proud of the outcome.</p></li>
                  <li><p class="mw6">Responsibilities: Development, Developer Operations, Project Management, Quality Assurance, SEO, Social Discovery, Design, Motion, Apple Wallet ticket.</p></li>
                  <li><p class="mw6">Accomplishments: The Schedule page is one of the most commented-on features of the event, and was a big success for helping people get to where they needed to go throughout the event.</p></li>
                </ul>
              </copy-wrap>

              <div class="block w-3/4 mx-auto -mb-24 mt-3 relative" style="min-width: 12rem">
                <midwest-grid column-gap="2" column-width="10px">
                  <midwest-device frame="iphone-8-plus-spacegray">
                    <midwest-video preload="auto" controls="false" autoplay="autoplay" muted="muted" playsinline="playsinline" poster="/assets/video/bigomaha-2015.jpg">
                      <source src="/assets/video/bigomaha-2015.webm" type="video/webm" />
                      <source src="/assets/video/bigomaha-2015.mp4" type="video/mp4" />
                    </midwest-video>
                  </midwest-device>
                  <midwest-device frame="iphone-8-plus-spacegray">
                    <midwest-video preload="auto" controls="false" autoplay="autoplay" muted="muted" playsinline="playsinline" poster="/assets/video/bigomaha-2016.jpg">
                      <source src="/assets/video/bigomaha-2016.webm" type="video/webm" />
                      <source src="/assets/video/bigomaha-2016.mp4" type="video/mp4" />
                    </midwest-video>
                  </midwest-device>
                </midwest-grid>
              </div>
            </div>
          </midwest-comment>

          <midwest-comment class="overflow-hidden">
            <midwest-avatar size="medium" shape="squircle" class="m-auto ml-0 mr-3 mt-0" no-tooltip slot="avatar" name="Overland Summers" src="/assets/img/overland.jpg"></midwest-avatar>
            <div class="w-full flex items-top justify-between" slot="content">
              <copy-wrap class="w-full">
                <h4 class="text-theme-6 dm:text-theme-4 font-bold leading">
                  Overland Summers
                </h4>

                <p class="flex flex-wrap" style="gap: 0.25rem;">
                  <midwest-tag color="theme" size="tiny">PHP</midwest-tag>
                  <midwest-tag color="theme" size="tiny">WordPress</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Advanced Custom Fields</midwest-tag>
                  <midwest-tag color="theme" size="tiny">MySQL</midwest-tag>
                  <midwest-tag color="theme" size="tiny">JavaScript</midwest-tag>
                  <midwest-tag color="theme" size="tiny">SASS</midwest-tag>
                  <midwest-tag color="theme" size="tiny">CSS</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Git</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Illustrator</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Motion Design</midwest-tag>
                  <midwest-tag color="theme" size="tiny">Technical Strategy</midwest-tag>
                </p>
                <ul class="w-full">
                  <li><p class="mw6">Overland Summers is an organization that does summer travel adventures for kids &amp; teens. The team came to Grain &amp; Mortar to design and build them a site so they can process orders better online and help customers prepare their kids for their trip.</p></li>
                  <li><p class="mw6">Responsibilities: Development, Developer Operations, Project Management, Quality Assurance, SEO, Social Discovery, Design Implementation.</p></li>
                  <li><p class="mw6">Accomplishments: The "What to pack" section is extremely user friendly and customizable, and served the team at Overland's needs. They were extremely satisfied with the result.</p></li>
                </ul>
              </copy-wrap>
              <div class="block w-1/2 -mb-24" style="min-width: 12rem">
                  <midwest-device frame="iphone-8-plus-spacegray">
                    <midwest-video preload="auto" controls="false" autoplay="autoplay" muted="muted" playsinline="playsinline" poster="/assets/video/overland-summers.jpg">
                      <source src="/assets/video/overland-summers.webm" type="video/webm" />
                      <source src="/assets/video/overland-summers.mp4" type="video/mp4" />
                    </midwest-video>
                  </midwest-device>
              </div>
            </div>
          </midwest-comment>
        </midwest-comment>

        <midwest-comment class="rounded-2xl">
          <midwest-avatar size="medium" shape="squircle" class="m-auto ml-0 mr-3 mt-0" no-tooltip slot="avatar" name="AIGA Nebraska" src="https://avatars0.githubusercontent.com/u/7396627?v=3&amp;s=200"></midwest-avatar>
          <copy-wrap slot="content">
            <h6 class="text-theme-8 dm:text-theme-2">Sept. 2014 &ndash; Sept. 2016</h6>
            <h4 class="text-theme-6 dm:text-theme-4 font-bold leading">Director of Web/New Media at AIGA Nebraska</h4>
            <ul>
              <li><p class="text-theme-12 dm:text-theme-0">Builds sites and runs open source initiatives to support efforts in the community.</p></li>
              <li><p class="text-theme-12 dm:text-theme-0">Created Midwest Design Chat slack team as an AIGA Nebraska initiative. Designed and built website to help grow the team.</p></li>
              <li><p class="text-theme-12 dm:text-theme-0">Currently in the process of redesigning and building our chapter&rsquo;s site with Round &amp; Round.</p></li>
              <li><p class="text-theme-12 dm:text-theme-0">Created Web Committee to support the technical challenges, currently managing a team of&nbsp;two.</p></li>
            </ul>
          </copy-wrap>
        </midwest-comment>

        <midwest-comment class="rounded-2xl">
          <midwest-avatar size="medium" shape="squircle" class="m-auto ml-0 mr-3 mt-0" no-tooltip slot="avatar" name="Hubdia" src="/assets/img/hubdia.jpg"></midwest-avatar>
          <copy-wrap slot="content">
            <h6 class="text-theme-8 dm:text-theme-2">Feb. 2012 &ndash; Aug. 2015</h6>
            <h4 class="text-theme-6 dm:text-theme-4 font-bold leading">Founder, Engineer at Hubdia</h4>
            <p>Social platform added to iOS App Store and Google Playstore to help connect different kinds of makers on the internet. I&rsquo;ve put this down for about a year.</p>
          </copy-wrap>
        </midwest-comment>

        <midwest-comment class="rounded-2xl">
          <midwest-avatar size="medium" shape="squircle" class="m-auto ml-0 mr-3 mt-0" no-tooltip slot="avatar" name="Ervin &amp; Smith" src="/assets/img/ervin-and-smith.jpg"></midwest-avatar>
          <copy-wrap slot="content">
            <h6 class="text-theme-8 dm:text-theme-2">Mar. 2013 &ndash; Feb. 2014</h6>
            <h4 class="text-theme-6 dm:text-theme-4 font-bold leading">Jr. Front End Developer at Ervin &amp; Smith</h4>
            <p>Built and tested landing pages and emails for&nbsp;clients.</p>
            <p>Highly refined technique to adapt to complex&nbsp;campaigns.</p>
          </copy-wrap>
        </midwest-comment>

        <midwest-comment class="rounded-2xl">
          <midwest-avatar size="medium" shape="squircle" class="m-auto ml-0 mr-3 mt-0" no-tooltip slot="avatar" name="Ervin &amp; Smith" src="/assets/img/ervin-and-smith.jpg"></midwest-avatar>
          <copy-wrap slot="content">
          <h6 class="text-theme-8 dm:text-theme-2">Mar. 2013 &ndash; Feb. 2014</h6>
          <h4 class="text-theme-6 dm:text-theme-4 font-bold leading">Engineer Intern at Ervin &amp; Smith, working on Blogglebeans</h4>
          <p>Built and maintained a web platform for connecting children to their&nbsp;grandparents</p>
          <p>Extended an interactive calendar to help clarify long events and ease the experience for&nbsp;grandparents</p>
          <p>Worked with the lead developer and launched a mobile iOS app and API in a short matter of 2&nbsp;months</p>
          </copy-wrap>
        </midwest-comment>

        <midwest-comment class="rounded-2xl">
          <midwest-avatar size="medium" shape="squircle" class="m-auto ml-0 mr-3 mt-0" no-tooltip slot="avatar" name="Ervin &amp; Smith" src="/assets/img/oiled-up-birds.jpg"></midwest-avatar>
          <copy-wrap slot="content">
            <h6 class="text-theme-8 dm:text-theme-2">Jul. 2010 &ndash; Jan. 2012</h6>
            <h4 class="text-theme-6 dm:text-theme-4 font-bold leading">Founder, Engineer at Oiled Up&nbsp;Birds, an art collective</h4>
            <p>Designed and deployed a rich, dynamic PHP based website to help creators organize their&nbsp;content.</p>
            <p>Help a 38 person team of individuals to create yearly&nbsp;products.</p>
            <p>Set up and facilitate bi-monthly&nbsp;events.</p>
            <p>Created an Open Source, immersive business model, which generated&nbsp;return.</p>
            <p>Manage and communicate with person-base to continually improve&nbsp;products.</p>
          </copy-wrap>
        </midwest-comment>
      </midwest-comments>
    </section>

    <section><br /></section>

    <section>
      <copy-wrap class="z-10" align="center">
        <h2 class="font-bold text-white leading">Proficiencies</h2>
        <br />
        <p class="flex flex-wrap" style="gap: 0.25rem;">
          <midwest-tag color="theme" size="tiny">OS&nbsp;X (Primary)</midwest-tag>
          <midwest-tag color="theme" size="tiny">Linux (+&nbsp;Server)</midwest-tag>
          <midwest-tag color="theme" size="tiny">Windows (+&nbsp;Server)</midwest-tag>
          <midwest-tag color="theme" size="tiny">Modern&nbsp;HTML</midwest-tag>
          <midwest-tag color="theme" size="tiny">Modern&nbsp;CSS</midwest-tag>
          <midwest-tag color="theme" size="tiny">JavaScript (ES6+)</midwest-tag>
          <midwest-tag color="theme" size="tiny">Webpack</midwest-tag>
          <midwest-tag color="theme" size="tiny">Rollup</midwest-tag>
          <midwest-tag color="theme" size="tiny">Node.Js</midwest-tag>
          <midwest-tag color="theme" size="tiny">Electron</midwest-tag>
          <midwest-tag color="theme" size="tiny">React</midwest-tag>
          <midwest-tag color="theme" size="tiny">Vue</midwest-tag>
          <midwest-tag color="theme" size="tiny">Polymer</midwest-tag>
          <midwest-tag color="theme" size="tiny">Web Components</midwest-tag>
          <midwest-tag color="theme" size="tiny">Backbone.js</midwest-tag>
          <midwest-tag color="theme" size="tiny">Ruby</midwest-tag>
          <midwest-tag color="theme" size="tiny">Ruby on Rails</midwest-tag>
          <midwest-tag color="theme" size="tiny">Golang</midwest-tag>
          <midwest-tag color="theme" size="tiny">PHP</midwest-tag>
          <midwest-tag color="theme" size="tiny">WordPress</midwest-tag>
          <midwest-tag color="theme" size="tiny">Laravel</midwest-tag>
          <midwest-tag color="theme" size="tiny">Phonegap/Cordova</midwest-tag>
          <midwest-tag color="theme" size="tiny">Capacitor</midwest-tag>
          <midwest-tag color="theme" size="tiny">MySQL</midwest-tag>
          <midwest-tag color="theme" size="tiny">Nginx</midwest-tag>
          <midwest-tag color="theme" size="tiny">Redis</midwest-tag>
          <midwest-tag color="theme" size="tiny">Memcache</midwest-tag>
          <midwest-tag color="theme" size="tiny">Sass (Scss)</midwest-tag>
          <midwest-tag color="theme" size="tiny">CakePHP</midwest-tag>
          <midwest-tag color="theme" size="tiny">Zend</midwest-tag>
          <midwest-tag color="theme" size="tiny">MongoDB</midwest-tag>
          <midwest-tag color="theme" size="tiny">jQuery</midwest-tag>
          <midwest-tag color="theme" size="tiny">OpenID</midwest-tag>
          <midwest-tag color="theme" size="tiny">OAuth1/2</midwest-tag>
          <midwest-tag color="theme" size="tiny">Apache</midwest-tag>
          <midwest-tag color="theme" size="tiny">Photoshop</midwest-tag>
          <midwest-tag color="theme" size="tiny">Illustrator</midwest-tag>
          <midwest-tag color="theme" size="tiny">Sketch</midwest-tag>
          <midwest-tag color="theme" size="tiny">InDesign</midwest-tag>
          <midwest-tag color="theme" size="tiny">Flash</midwest-tag>
        </p>
        <br />
        <h3 class="fw6 text-white leading z-10">&hellip;And so much more!</h3>
      </copy-wrap>
    </section>
</midwest-layout>

