extends partials/layout.pug

block vars
	- var theme = "cyan";
	- var tab = "speaking";
	- var name = "Split Infinities";
	- var title = "Here's some past projects";
	- var description = "Split Infinities is the site for William M. Riley";
	- var keywords = "";
