extends partials/layout.pug

block vars
	- var theme = "blue";
	- var tab = "writing";
	- var name = "Split Infinities";
	- var title = "Here's just like some thoughts";
	- var description = "Split Infinities is the site for William M. Riley";
	- var keywords = "";
