{% set highlighted = collections.portfolios | filterHighlighted | head(1) %}

{% for post in highlighted %}
  {% set highlight = true %}
  {% set tag = "Highlight" %}
  {% include "post.njk" %}
{% endfor %}


