{% set image_thumb = `/assets/img/${image_path}/${name}-thumb` %}
{% set image_mobile = `/assets/img/${image_path}/${name}-half` %}
{% set image_src = `/assets/img/${image_path}/${name}` %}

<midwest-image width="{{width}}" height="{{width}}" preload="{{image_thumb}}.jpg">
  <source srcset="{{image_src}}.jpg" type="image/jpeg" media="(min-width:1023px) and (min-device-pixel-ratio: 2)" />
  <source srcset="{{image_src}}.webp" type="image/webp" media="(min-width:1023px) and (min-device-pixel-ratio: 2)" />
  <source srcset="{{image_mobile}}.jpg" type="image/jpeg" media="(min-width:1023px)" />
  <source srcset="{{image_mobile}}.webp" type="image/webp" media="(min-width:1023px)" />
  <source srcset="{{image_src}}.jpg" type="image/jpeg" media="(max-width:640px) and (min-device-pixel-ratio: 2)" />
  <source srcset="{{image_src}}.webp" type="image/webp" media="(max-width:640px) and (min-device-pixel-ratio: 2)" />
  <source srcset="{{image_mobile}}.jpg" type="image/jpeg" media="(max-width:640px)" />
  <source srcset="{{image_mobile}}.webp" type="image/webp" media="(max-width:640px)" />
</midwest-image>