<animate-presence>
  <midwest-card tag="a" 
    href="{{ post.url | url }}" 
    padding="small" 
    small-size="250"
    class="overflow-hidden {{"md:col-span-2" if highlight }}"
  >
    <section class="flush p-0 relative">
      {% if tag %}
        <midwest-tag class="absolute top-0 left-0 mt-4 ml-4" pill>{{ tag }}</midwest-tag>
      {% endif %}
      <img src="{{ post.data.image if highlight else post.data.image_vertical }}" class="hidden md:block h-full w-full object-cover" loading="lazy" />
      <img src="{{ post.data.image }}" class="block md:hidden h-full w-full object-cover" loading="lazy" />
    </section>
    <footer class="flex flex-col gap-1 overflow-x-auto">
      <h4 class="sticky left-0 text-xl font-bona-nova w-full dm:text-white break-words">
        {% if post.data.title %}
          {{ post.data.title }}
        {% endif %}
      </h4>
      <h6 class="sticky left-0 text-sm font-bona-nova w-full text-gray-9 dm:text-gray-2 truncate">
        {% if post.data.subtitle %}
          {{ post.data.subtitle }}
        {% endif %}
      </h6>
      
      {% if post.data.description %}
        <copy-wrap clamp="2" class="sticky left-0 w-full">
          <p class="text-sm w-full dm:text-theme-0">{{ post.data.description }}</p>
        </copy-wrap>
      {% endif %}

      <p class="text-xs inline-flex mr-auto mt-2 overflow-x-auto gap-1">
        {% for tag in post.data.types | filterTagList | head(-1) %}
          <midwest-tag size="tiny" color="teal">
            {{ tag }}
            {% if post.data.types | length != 1 %} +{{post.data.types | length - 1}} types{% endif %}
          </midwest-tag>
        {% endfor %}
        {% for tag in post.data.roles | filterTagList | head(-1) %}
          <midwest-tag size="tiny" color="pink">
            {{ tag }}
            {% if post.data.roles | length != 1 %} +{{post.data.roles | length - 1}} roles{% endif %}
          </midwest-tag>
        {% endfor %}
        {% for tag in post.data.skills | filterTagList | head(-1) %}
          <midwest-tag size="tiny" color="lime">
            {{ tag }}
            {% if post.data.skills | length != 1 %} +{{post.data.skills | length - 1}} skills{% endif %}
          </midwest-tag>
        {% endfor %}
      </p>
    </footer>
  </midwest-card>
</animate-presence>