{%- macro enqueue_design(args) -%}
<link rel="stylesheet" href="https://unpkg.com/@midwest-design/core/dist/core/core.css">
<script type="module" src="https://unpkg.com/@midwest-design/core/dist/core/core.esm.js"></script>
<script type="module" src="https://unpkg.com/@midwest-design/forms/dist/forms/forms.esm.js"></script>
<script type="module" src="https://unpkg.com/@midwest-design/audio/dist/audio/audio.esm.js"></script>
<script type="module" src="https://unpkg.com/@midwest-design/device/dist/device/device.esm.js"></script>
<script type="module" src="https://unpkg.com/@midwest-design/helpers/dist/helpers/helpers.esm.js"></script>
<script type="module" src="https://unpkg.com/@midwest-design/media/dist/media/media.esm.js"></script>
<script type="module" src="https://unpkg.com/@midwest-design/motion/dist/motion/motion.esm.js"></script>
{%- endmacro -%}