{%- macro image(image_name, image_path, image_width, image_height, image_classes) -%}
  {% set imageSrc %}./assets/img/{{image_path}}/{{image_name}}.jpg{% endset %}

  {% image_shortcode imageSrc, { nozoom: true, class: image_classes, style: "--figure-height: 100%;" } %}
{%- endmacro -%}