{%- from "../macros/hero.njk" import hero -%}
{%- from "../macros/home_hero.njk" import home_hero -%}
{%- from "../macros/preload_stencil.njk" import preload_stencil -%}
{%- from "../macros/enqueue_design.njk" import enqueue_design -%}

<!doctype html>
<html lang="en" class="font-work-sans bg-white dm:bg-black">

<head>
    <title>{{ title or metadata.title }}{% if name %} • {{name}}{% endif %}</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html-; charset=UTF-8" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="viewport" content="width=device-width" />
    <meta itemprop="name" content="{{ title or metadata.title }} • {{name}}" />
    <meta itemprop="image" content="{{social_image or metadata.image}}" />
    <meta name="description" content="{{metadata.description}}" />
    <meta name="keywords" content="{{metadata.keywords}}" />
    <meta property="og:title" content="{{ title or metadata.title }}" />
    <meta property="og:description" content="{{metadata.description}}" />
    <meta property="og:site_url" content="{{metadata.site_url}}" />
    <meta property="og:image" content="{{social_image or metadata.image}}" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:creator" content="@splitinfinities" />
    <meta property="twitter:site" content="@splitinfinities" />
    <meta property="twitter:title" content="{{ title or metadata.title }}" />
    <meta property="twitter:image" content="{{social_image or metadata.image}}" />
    <meta property="twitter:url" content="{{metadata.site_url}}" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="application-name" content="{{ title or metadata.title }}" />
    <meta name="apple-mobile-web-app-title" content="{{ title or metadata.title }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="manifest" href="/manifest.json" />
    <link rel="icon" type="image/png" href="/assets/img/favicon.png" />
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link href="https://fonts.googleapis.com/css2?family=Bona+Nova:wght@400;700&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <style>
        .font-bona-nova { font-family: "Bona Nova"; }
        .font-work-sans { font-family: "Work Sans"; }

        :root {
            --text-shadow: 1px 1px var(--tsc), -1px 1px var(--tsc), 1px -1px var(--tsc), -1px -1px var(--tsc),
                        2px 2px var(--tsc), -2px 2px var(--tsc), 2px -2px var(--tsc), -2px -2px var(--tsc);

            --pink0: var(--pink-0); --pink1: var(--pink-1); --pink2: var(--pink-2); --pink3: var(--pink-3); --pink4: var(--pink-4); --pink5: var(--pink-5); --pink6: var(--pink-6); --pink7: var(--pink-7); --pink8: var(--pink-8); --pink9: var(--pink-9); --pink10: var(--pink-10); --pink11: var(--pink-11); --pink12: var(--pink-12);
        }

        html:not(.hydrated) {
            display: none
        }

        .site-nav {
            text-decoration: none;
        }

        .about-page .site-nav[href*="about"] {
            text-decoration: underline var(--theme-3,var(--red-3)) 2px;
        }

        .portfolio-archive .site-nav[href*="portfolio"],
        .portfolio-single .site-nav[href*="portfolio"] {
            text-decoration: underline var(--theme-3,var(--red-3)) 2px;
        }

        .hire-me-page .site-nav[href*="hire-me"] {
            text-decoration: underline var(--theme-3,var(--red-3)) 2px;
        }

        :root {
            --tsc: white;
        }

        midwest-layout {
            --large: 1600px !important;
        }

        .dark-mode {
            --tsc: black;
        }

        .aspect-4/3 {
            aspect-ratio: 4/3
        }
        
        .embed-container { position: relative; aspect-ratio: 740.4 / 416.47; } 
        .embed-container iframe, .embed-container object, .embed-container embed { 
            position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
        }

        copy-wrap h1 {
            font-size: 4rem;
        }

        .swiper-container {
            padding: 0 !important;
        }

        midwest-button {
            --text-transform: capitalize;
        }

        .pop-treatment {text-shadow: var(--text-shadow);}

        copy-wrap h1,
        copy-wrap h2,
        copy-wrap h3,
        copy-wrap h4,
        copy-wrap h5,
        copy-wrap h6 { font-family: "Bona Nova"; text-shadow: var(--text-shadow); }

        copy-wrap h1 + p,
        copy-wrap h2 + p,
        copy-wrap h3 + p,
        copy-wrap h4 + p,
        copy-wrap h5 + p,
        copy-wrap h6 + p {
            margin-top: 1em;
            font-family: "Work Sans";
        }

        .empty\:hidden:empty {
            display: none !important;
        }

        .toc ol {
            list-style: number;
            list-style-position: inside;
            font-size: 1rem;
            color: var(--black)
        }

        .toc ol a {
            color: var(--gray-9)
        }

        .gallery { height: 100%; overflow: hidden; }
        .gallery midwest-image {
            height: 100% !important;
            aspect-ratio: 16/9;
            --figure-height: 100% !important;
            --aspect-ratio: 0 !important;
        }


        .dark-mode .toc ol {
            color: var(--white)
        }

        .dark-mode .toc ol a {
            color: var(--gray-2)
        }

        midwest-layout[type="five-column"] {
            --layout: 1fr;
            --layout-padding: 2rem;
            --layout-grid-gap: 2rem;
            --layout-width: calc(100% - var(--layout-grid-gap)*2) !important;
        }

        midwest-layout[type="five-column"][padding="none"] {
            --layout-padding: 0rem;
        }

        header midwest-layout {
            --layout-padding: 0;
        }

        midwest-layout[type="five-column"]:not(.fancy-grid) > * {
            grid-column: 1;
        }

        .grid-center {
            grid-column: 1;
        }

        {# sm breakpoint #}
        @media only screen and (min-width: 580px) {
            midwest-layout[type="five-column"] {
                --layout: 1fr 1fr 1fr;
            }

            midwest-layout[type="five-column"]:not(.fancy-grid) > * {
                grid-column: 1/4;
            }

            .sm\:grid-center {
                grid-column: 1/4
            }
        }

        {# lg breakpoint #}
        @media only screen and (min-width: 768px) {
            midwest-layout[type="five-column"] {
                --layout: repeat(5, 1fr);
            }

            midwest-layout[type="five-column"]:not(.fancy-grid) > * {
                grid-column: 2/5
            }

            .md\:grid-center {
                grid-column: 2/5
            }
        }

    </style>
    {% if "production" | isEnvironment %}
        {{ preload_stencil(preload_elements, stencil.formats.esmBrowser, "https://unpkg.com/@midwest-design/core@0.0.16/dist/core/") }}
        {{ enqueue_design() }}
    {% else %}
        <script src="/assets/js/script.js"></script>
    {% endif %}
</head>

<body class="font-work-sans {% if templateClass %}{{ templateClass }}{% endif %}">
    <midwest-pjax></midwest-pjax>
    <midwest-theme base="{{theme}}" complement="{{complement}}" system body class="flex flex-wrap flex-col">
        <midwest-progress class="fixed top-0 left-0 right-0 z-50" slender></midwest-progress>
        <header class="w-full z-40 py-4 order-first backdrop-filter backdrop-blur-2xl bg-gradient-to-t from-transparent to-white dm:to-black">
            <midwest-layout type="five-column" size="large" padding="none" align="center" class="fancy-grid" small-size="768">
                <h1 class="grid-center text-center sm:text-left sm:col-start-1 sm:col-end-3 text-black text-left dm:text-white font-bona-nova text-3xl">
                    <a href="/" class="text-black dm:text-white no-underline">
                        Gabriella Nova
                    </a>
                </h1>
                <div class="grid-center justify-center sm:justify-end sm:col-start-3 sm:col-end-6 flex gap-4">
                    {%- for entry in collections.all | eleventyNavigation %}
                    <a href="{{ entry.url | url }}"
                        ghost
                        tag="link"
                        class="text-work-sans text-black dm:text-white site-nav"
                        >
                        {{ entry.title }}
                    </a>
                  {%- endfor %}
                </div>
            </midwest-layout>
        </header>

        <article>
            <main class="min-h-screen" id="main">
                <animate-presence>
                {{ content | safe }}
                </animate-presence>
            </main>

            <footer class="z-20 px-8 py-4 flex place-center flex-wrap flex-col gap-2 filter-blur order-last backdrop-filter backdrop-blur-2xl bg-gradient-to-b from-transparent to-white dm:to-black">
                <p class="text-black dm:text-white text-center font-bold text-lg">© 2022 Gabriella Nova</p>
                <div class="flex gap-4 items-center self-center">
                    <midwest-button class="theme-gray" only-icon style="--padding: .5rem;">
                        <ion-icon slot="icon" name="logo-facebook" class="text-white"></ion-icon>
                    </midwest-button>
                    <midwest-button class="theme-gray" only-icon style="--padding: .5rem;">
                        <ion-icon slot="icon" name="logo-twitter" class="text-white"></ion-icon>
                    </midwest-button>
                    <midwest-button class="theme-gray" only-icon style="--padding: .5rem;">
                        <ion-icon slot="icon" name="logo-instagram" class="text-white"></ion-icon>
                    </midwest-button>
                    <midwest-button class="theme-gray" only-icon style="--padding: .5rem;">
                        <ion-icon slot="icon" name="mail" class="text-white"></ion-icon>
                    </midwest-button>
                </div>
            </footer>
        </article>


    </midwest-theme>

    <script>
        document.addEventListener("pjax:complete", (a) => {
            let doc = new DOMParser().parseFromString(a.request.response, "text/html")
            document.querySelector("body").classList = doc.querySelector("body").classList
        })
    </script>

    <!-- Current page: {{ page.url | url }} -->
</body>

</html>