---
layout: layouts/base.njk
templateClass: tmpl-portfolio
---

<midwest-theme base="{{ page.theme }}" complement="{{ page.complement }}" inert system></midwest-theme>

<midwest-layout size="large" type="five-column" class="fancy-grid">
  <copy-wrap class="mb-8 grid-center">
    <h1 class="text-black dm:text-white">{{ title }}</h1>
    <h4 class="text-gray-10 dm:text-gray-2">{{ subtitle }}</h4>

    <p class="text-xs inline-flex flex-wrap" style="gap: 0.25rem">
      {% for tag in types | filterTagList %}
        <midwest-tag size="tiny" color="teal">
          {{ tag }}
        </midwest-tag>
      {% endfor %}
      {% for tag in roles | filterTagList %}
        <midwest-tag size="tiny" color="pink">
          {{ tag }}
        </midwest-tag>
      {% endfor %}
      {% for tag in skills | filterTagList %}
        <midwest-tag size="tiny" color="lime">
          {{ tag }}
        </midwest-tag>
      {% endfor %}
    </p>
  </copy-wrap>

  {{ content | safe }}
</midwest-layout>

<style>
  midwest-image + p,
  midwest-grid + p,
  iframe + p,
  copy-wrap h2 {
      margin-top: 2rem;
  }

  .twitter-tweet { margin: 0; }
</style>