---
layout: layouts/base.njk
templateClass: portfolio-single
---

<midwest-theme base="{{ page.theme if page.theme else "pink" }}" complement="{{ page.complement if page.complement else "lime" }}" inert system></midwest-theme>

<midwest-layout size="large" type="five-column" class="fancy-grid" small-size="768">
  <copy-wrap class="grid-center sm:grid-center md:grid-center">
    <h1 class="text-black dm:text-white">{{ title }}</h1>
    <h4 class="text-gray-10 dm:text-gray-2">{{ subtitle }}</h4>

    <p class="text-xs inline-flex flex-wrap" style="gap: 0.25rem">
      {% for tag in types | filterTagList %}
        <midwest-tag size="tiny" color="teal">
          {{ tag }}
        </midwest-tag>
      {% endfor %}
      {% for tag in roles | filterTagList %}
        <midwest-tag size="tiny" color="pink">
          {{ tag }}
        </midwest-tag>
      {% endfor %}
      {% for tag in skills | filterTagList %}
        <midwest-tag size="tiny" color="lime">
          {{ tag }}
        </midwest-tag>
      {% endfor %}
    </p>
  </copy-wrap>

  {% if content | toc %}
    <aside class="md:sticky md:top-4">
      <midwest-card padding="tiny" style="--min-height: auto; box-shadow: 0 0 0 4px var(--tsc);">
        <header class="py-2"><h6 class="font-bona-nova m-0">Table of Contents</h6></header>
        <section>
          {{ content | toc | safe }}
        </section>
      </midwest-card>
    </aside>
  {% endif %}

  {{ content | safe }}
</midwest-layout>

<style>
  midwest-image + p,
  midwest-grid + p,
  iframe + p,
  copy-wrap h2 {
      margin-top: 2rem;
  }

  .twitter-tweet { margin: 0; }
</style>